# Copia esto a tu moonraker.conf
# Asegúrate de tener Spoolman instalado y configurado

[spoolman]
server: http://localhost:7912
# sync_rate: 5

[update_manager klipper_spool_tracker]
type: git_repo
path: /home/pi/klipper_spool_tracker
origin: https://github.com/tu-usuario/klipper_spool_tracker.git
virtualenv: /home/pi/klipper_spool_tracker/.venv
primary_branch: master
managed_services: spool-tracker
requirements: /home/pi/klipper_spool_tracker/requirements.txt