# Copia esto a tu moonraker.conf (o install.sh lo hace automaticamente)
# Asegúrate de tener Spoolman ya configurado en moonraker.conf

[update_manager klipper_spool_tracker]
type: git_repo
path: /home/pi/klipper_spool_tracker
origin: https://github.com/tu-usuario/klipper_spool_tracker.git
virtualenv: /home/pi/klipper_spool_tracker/.venv
primary_branch: main
managed_services: klipper_spool_tracker
requirements: /home/pi/klipper_spool_tracker/requirements.txt
install_script: install.sh